<mat-progress-bar *ngIf="isLoading" color="accent" mode="indeterminate"></mat-progress-bar>

<form class="search-box" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input formControlName="search" matInput placeholder="Search" />
    </mat-form-field>
</form>

<mat-selection-list [multiple]="false" *ngIf="movies.length">
    <div mat-subheader>ALL MOVIES</div>
    <mat-list-option *ngFor="let movie of movies">
        <mat-icon mat-list-icon>theaters</mat-icon>
        <div mat-line>{{ movie.title }}</div>
        <div mat-line>{{ movie.release_date | date }}</div>
    </mat-list-option>
</mat-selection-list>