input {
    max-width: 400px;
    width: 50vw;
    line-height: 1.5em;
    font-size: 1.5em;
    border-radius: 5px;
    outline: none;
    border: 0;
}
.pokemon {
    margin-top: 25px;
    text-transform: capitalize;
    font-size: 2em;
    color: whitesmoke;
}
